@import './sidebar/ProjectAreaSidebar';

.project-area {
    &__sidebar {
        &-resizable {
            min-width: 8rem;
            max-width: 16rem;
        }
        background-color: $color-bg-2;
    }
}

.theme-light .project-area {
    &__sidebar {
        background-color: $color-light-bg-2;
    }
}
