.thread-area-sidebar {
    &__subnav {
        margin-left: $spacer * 0.5;
        font-size: $font-size-sm;
    }

    &__nav-link {
        color: var(--body-color) !important;
        box-shadow: none !important; // remove Bootstrap focus ring
        border-left: solid 5px transparent;
        border-radius: 0;
        &--active {
            background-color: rgba($primary, 0.12);
            border-left-color: var(--primary);
        }
    }
}
