@import './overview/ThreadOverview';
@import './sidebar/ThreadAreaSidebar';
@import './sources/ThreadSourceItemsList';
@import './ThreadAreaNavbar';

.thread-area {
    &__sidebar {
        &-resizable {
            min-width: 12rem;
            max-width: 20rem;
        }
        background-color: $color-bg-2;
    }
}

.theme-light .thread-area {
    &__sidebar {
        background-color: $color-light-bg-2;
    }
}
