@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/input-group';

.theme-dark {
    --input-bg: #0e121b;
    --input-disabled-bg: #2b3750;
    --input-border-color: #2b3750;
    --input-color: #f2f4f8;
    --input-placeholder-color: rgba(#f2f4f8, 0.5);
    --input-group-addon-color: #{$color-text-1};
    --input-group-addon-bg: #{$color-bg-5};
    --input-group-addon-border-color: #{$color-bg-5};
}

.theme-light {
    --input-bg: #ffffff;
    --input-disabled-bg: #e4e9f1;
    --input-border-color: #e4e9f1;
    --input-color: #2b3750;
    --input-placeholder-color: rgba(#2b3750, 0.5);
    --input-group-addon-color: #{$color-light-text-1};
    --input-group-addon-bg: #{$color-light-bg-4};
    --input-group-addon-border-color: #{$color-light-bg-4};
}

// Prevent Firefox's default red outline for inputs
:not(output):-moz-ui-invalid:not(:focus) {
    box-shadow: none;
}
:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
    box-shadow: none;
}

// If you have a Bootstrap input group with prepends or appends, you want the focus ring to appear
// around the entire input group, not just around the text field in the middle of it. These classes make it possible.
//
// Use this class on the prepends or appends.
.bg-form-control {
    background-color: $input-bg !important;
}
// Use this class on the .input-group when the text field is focused. (You'll need onFocus/onBlur
// listeners on the text field to toggle this class on the .input-group.)
.form-control-focus {
    // Duplicated from Bootstrap @mixin form-control-focus.
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color !important;
    outline: 0;
    @if $enable-shadows {
        box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
        box-shadow: $input-focus-box-shadow;
    }
}
